<div>
  <div class="font-bold text-xl"><%= @profile.name %></div>
  <div class="font-bold text-xl"><%= @profile.email %></div>
  <div class="font-bold text-xl"><%= @profile.created_at.strftime('%Y/%m/%d') %>より利用開始</div>
</div>
