<header class="bg-gradient-to-r from-indigo-600 to-purple-600 text-white p-4 md:p-6 w-full top-0 left-0 z-10">
  <nav class="flex justify-between items-center">
    <div class="flex">
      <%= image_tag "graphic_eq_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg" , class:'w-6 mr-3' %>
      <%= link_to "NoiseProof", root_path, class: "text-md md:text-2xl font-bold"%>
    </div>
    <div class="md:space-x-6 space-x-1 font-bold">
      <%= link_to t('header.login'), login_path, class: "text-sm md:text-lg hover:opacity-30 transition-all duration-300" %>
      <%= link_to t('header.logout'), logout_path, class: "text-sm md:text-lg hover:opacity-30 transition-all duration-300" %>
    </div>
  </nav>
</header>